.faqindex__form {
    margin-bottom: 40px;
    padding: 50px 0 40px;

    color: #ffffff;

    background-color: #55abff;
    background-image: url("../build/images/FAQs/faqindex__form-bg.jpg");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}

.faqindex__form-cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: none;
    width: 100%;
    height: 100%;

    background: #333333 url("../fancybox_loading@2x.gif") no-repeat center center;
    opacity: 0.3;
}
.faqindex__form h5 {
    margin: 0 0 40px 0;

    font-weight: 500;
    font-size: 30px;
    line-height: 26px;
    font-family: "Trebuchet MS";
    text-align: center;
    color: #ffffff;
}

.faqindex__form-column {
    float: left;
    width: 50%;
}

@media (max-width: 540px) {
    .faqindex__form-column {
        width: 100%;
    }
}
.faqindex__form-clearfix {
    clear: both;
}
.faqindex__form-item {
    position: relative;

    width: 100%;
    margin: 0 0 20px 0;

    text-align: center;
}
.faqindex__form-item input {
    height: 50px;
}
.faqindex__form-item input,
.faqindex__form-item textarea {
    width: 90%;
    padding: 10px;

    font-size: 16px;
    line-height: 20px;
    font-family: "Trebuchet MS";
    color: #4d4d4d;

    border: none;
    outline: none;

    resize: none;
}
.faqindex__form-item input::-webkit-input-placeholder,
.faqindex__form-item textarea::-webkit-input-placeholder {
    text-align: center;
    color: #999999;
}
.faqindex__form-item input::-moz-placeholder,
.faqindex__form-item textarea::-moz-placeholder {
    text-align: center;
    color: #999999;
}
.faqindex__form-item input:-moz-placeholder,
.faqindex__form-item textarea:-moz-placeholder {
    text-align: center;
    color: #999999;
}
.faqindex__form-item input:-ms-input-placeholder,
.faqindex__form-item textarea:-ms-input-placeholder {
    text-align: center;
    color: #999999;
}
.faqindex__form-item textarea::-webkit-input-placeholder {
    line-height: 100px;
}
.faqindex__form-item textarea::-moz-placeholder {
    line-height: 100px;
}
.faqindex__form-item textarea:-moz-placeholder {
    line-height: 100px;
}
.faqindex__form-item textarea:-ms-input-placeholder {
    line-height: 100px;
}
.faqindex__form-item input:focus::-webkit-input-placeholder,
.faqindex__form-item textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
.faqindex__form-item input:focus::-moz-placeholder,
.faqindex__form-item textarea:focus::-moz-placeholder {
    color: transparent;
}
.faqindex__form-item input:focus:-moz-placeholder,
.faqindex__form-item textarea:focus:-moz-placeholder {
    color: transparent;
}
.faqindex__form-item input:focus:-ms-input-placeholder,
.faqindex__form-item textarea:focus:-ms-input-placeholder {
    color: transparent;
}
.form__asterix {
    color: #ff3c3c;
}
.ask-question {
    height: 120px;
}
.ask-name + label,
.ask-email + label,
.ask-question + label {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 150px;
    height: 22px;

    font-size: 16px;
    color: #999999;

    transform: translatex(-50%) translatey(-40%);
    cursor: pointer;
}

.ask-name:focus + label,
.ask-email:focus + label,
.ask-email:valid + label,
.ask-email:invalid:not(:placeholder-shown) + label,
.ask-question:focus + label,
.ask-question:valid + label {
    display: none;
}
.ask-email:not(:valid):not(:placeholder-shown):not(:focus) {
    outline: 1px solid #ff3c3c;
}

.faqindex__form-selects {
    padding: 20px 2.5%;

    background-color: #237fdc;
    /*display: none;*/
}
.faqindex__form-selects-caption {
    margin-bottom: 20px;

    font-size: 22px;
    text-align: center;
    font-style: italic;
}
.faqindex__form-selects-item {
    display: table;
    width: 100%;
    margin: 0 0 15px;
}
.faqindex__form-selects-item-label {
    display: table-cell;
    width: 50%;
    padding: 0 20px 0 0;

    font-size: 20px;
    line-height: 22px;
    font-family: Arial;
    vertical-align: middle;
    text-align: left;
}
.faqindex__form-selects-item-select,
.faqindex__form-selects-item-captcha {
    display: table-cell;
    width: 50%;

    vertical-align: middle;
}

.faqindex__form-agree-wrapper {
    padding: 20px 2.5%;

    font-size: 20px;
    line-height: 22px;
    font-family: Arial;
}
@media (max-width: 540px) {
    .faqindex__form-agree-wrapper {
        padding: 0 5%;
    }
}
.faqindex__form-disclaimer {
    font-size: 18px;
    text-align: justify;
}

.faqindex__form-agree-checkbox {
    position: relative;

    display: inline-block;
    margin: 15px 0;
    padding-left: 25px;

    line-height: 20px;
    vertical-align: middle;
}

.ask-agree-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    width: 20px;
    height: 20px;

    background-color: #ffffff;
    border: 1px solid #c1dbf5;
}
.ask-agree-checkbox:not(:checked):focus + .ask-agree-indicator {
    outline: 1px solid #205fad;
}
.ask-agree-checkbox:checked + .ask-agree-indicator {
    background-color: #205fad;
    box-shadow: inset 0 0 0 3px #ffffff;
}

.faqindex__form-button {
    margin: 0;

    text-align: center;
}
.faqindex__form-button a {
    display: inline-block;
    width: 220px;
    height: 45px;
    margin: 10px 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 45px;
    font-family: "Trebuchet MS";
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    background:         linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.6) 100%);
    background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.6) 100%);
    border: solid 1px #ffffff;
    border-radius: 5px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#99ffffff',GradientType=0 );
}
.faqindex__form-button a:hover,
.faqindex__form-button a:focus {
    background:         linear-gradient(to bottom, rgba(255,255,255,0) 0%, #3591ed 100%);
    background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #3591ed 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #3591ed 100%);
    outline: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#3692ee',GradientType=0 );
}
