.faq__links {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}
@media (max-width: 720px) {
  .faq__links {
    flex-direction: column;
    padding: 30px 0 0 15px;
  }
}

.faq__links-text {
  width: 40%;
  padding-right: 20px;
}
@media (max-width: 720px) {
  .faq__links-text {
    width: 100%;
    margin-bottom: 20px;
  }
}

.faq__links-text h2 {
  margin: 0 0 15px 0;

  font-family: "Trebuchet MS";
  font-size: 22px;
  font-weight: normal;
  color: #235fad;
}
@media (max-width: 1279px) {
  .faq__links-text h2 {
    font-size: 18px;
  }
}
@media (max-width: 720px) {
  .faq__links-text h2 {
    font-size: 20px;
  }
}

.faq__links-text p {
  margin: 0;

  font-size: 16px;
  font-family: Arial;
  text-align: justify;
  color: #4d4d4d;
}
@media (max-width: 1279px) {
  .faq__links-text p {
    font-size: 14px;
  }
}

.faq__links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 10px 0;
  padding: 0 10px;

  list-style: none;

  border-left: 2px solid #ffe875;
}
@media (max-width: 720px) {
  .faq__links-list {
    width: 100%;
    margin-left: 5px;
    padding: 0 40px 10px 0;
  }
}

.faq__links-item {
  width: 50%;
  margin: 5px 0 5px;
  padding: 0 10px 0 15px;
}
@media (max-width: 720px) {
  .faq__links-item {
    width: 33%;
  }
}
@media (max-width: 540px) {
  .faq__links-item {
    width: 50%;
  }
}

.faq__links-item a {
  position: relative;
  font-size: 16px;
  font-family: Arial;
  color: #205fad;
}
@media (max-width: 540px) {
  .faq__links-item a {
    font-size: 14px;
  }
}

.faq__links-item a::after {
  content: "\005E";
  display: inline-block;
  font: 20px "Times New Roman";
  transform: rotate(90deg);
  webkit-transform: rotate(90deg);
}
.faq__links-item a::after {
  position: absolute;
  bottom: -4px;
  right: -10px;
  color: #205fad;
}

.sidebar-search {
  margin: 0 0 15px 0;
  padding: 10px 20px;
  background-color: #e5f1ff;
}

.sidebar-search h4 {
  margin: 0 auto;
  padding: 15px 0 20px;

  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
}

.sidebar-search form {
  position: relative;
}

.sidebar-search-input {
  position: relative;

  display: block;
  width: 100%;
  margin: 0 auto 20px;
  padding: 6px 33px 6px 5px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
  outline: none;
}
.sidebar-search-input:-moz-placeholder {
  text-align: center;
  color: #999999;
}
.sidebar-search-input::-moz-placeholder {
  text-align: center;
  color: #999999;
}
.sidebar-search-input:-ms-input-placeholder {
  text-align: center;
  color: #999999;
}
.sidebar-search-input::-webkit-input-placeholder {
  text-align: center;
  color: #999999;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {*/
/*!* Safari only override *!*/
/*::i-block-chrome,*/
/*.sidebar-search-input::-webkit-input-placeholder {*/
/*text-indent: 90px; !*подбираете нужное значение*!*/
/*}*/
/*}*/

.sidebar-search form::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 8px;

  width: 23px;
  height: 24px;

  background-color: transparent;
  background-image: url(../img/FAQ_sprites.png);
  background-repeat: no-repeat;
  background-position: -578px -14px;
  border: none;
}

.sidebar-search-button {
  display: block;
  width: 130px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-weight: bold;
  color: #205fad;

  background-color: transparent;
  border: solid 2px #205fad;
  border-radius: 8px;
}

.sidebar-search-button:hover,
.sidebar-search-button:focus {
  background: linear-gradient(to bottom, #e5f1ff 0%, #e5f1ff 50%, #7fa6d8 100%);
  outline: none;
}

.sidebar-faq-categories {
  margin: 0 0 15px 0;
  padding: 10px 20px;

  font-size: 18px;
  font-family: Arial;
  color: #205fad;

  background-color: #e5f1ff;
}
@media (max-width: 1279px) {
  .sidebar-faq-categories {
    font-size: 14px;
  }
}
.sidebar-faq-categories h4 {
  margin: 0 auto;
  padding: 15px 0;

  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
}
.sidebar-faq-categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 20px 0 0;

  list-style: none;
}
.sidebar-faq-categories-item {
  position: relative;

  width: 100%;
  margin-bottom: 30px;
  padding-left: 65px;
}
@media (max-width: 1279px) {
  .sidebar-faq-categories-item {
    margin-bottom: 35px;
  }
}
@media (max-width: 720px) {
  .sidebar-faq-categories-item {
    width: 25%;
    padding-top: 50px;
    padding-left: 0;

    text-align: center;
  }
}
@media (max-width: 540px) {
  .sidebar-faq-categories-item {
    width: 50%;
    padding-top: 0;
    padding-left: 60px;

    text-align: left;
  }
}

.sidebar-faq-categories-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 24px);
  left: 0;

  width: 47px;
  height: 47px;

  background-image: url("../img/FAQ_sprites.png");
}
@media (max-width: 720px) {
  .sidebar-faq-categories-item::before {
    top: -10px;
    left: calc(50% - 24px);
  }
}
@media (max-width: 540px) {
  .sidebar-faq-categories-item::before {
    top: -15px;
    left: 0;
  }
}
.sidebar-faq-categories-item--bad::before {
  background-position: 0 0;
}
.sidebar-faq-categories-item--balance::before {
  background-position: -55px 0;
}
.sidebar-faq-categories-item--best::before {
  background-position: -110px 0;
}
.sidebar-faq-categories-item--business::before {
  background-position: -165px 0;
}
.sidebar-faq-categories-item--banks::before {
  background-position: -220px 0;
}
.sidebar-faq-categories-item--fees::before {
  background-position: -275px 0;
}
.sidebar-faq-categories-item--reward::before {
  background-position: -330px 0;
}
.sidebar-faq-categories-item--fair::before {
  background-position: -385px 0;
}
.sidebar-faq-categories-item--foreign::before {
  background-position: -440px 0;
}
.sidebar-faq-categories-item--instant::before {
  background-position: -495px 0;
}
.sidebar-faq-categories-item--low-rate::before {
  background-position: 0 -50px;
}
.sidebar-faq-categories-item--mastercard::before {
  background-position: -55px -50px;
}
.sidebar-faq-categories-item--no-credit::before {
  background-position: -110px -50px;
}
.sidebar-faq-categories-item--prepaid::before {
  background-position: -165px -50px;
}
.sidebar-faq-categories-item--secured::before {
  background-position: -220px -50px;
}
.sidebar-faq-categories-item--student::before {
  background-position: -275px -50px;
}
.sidebar-faq-categories-item--visa::before {
  background-position: -330px -50px;
}
.sidebar-faq-categories-item--travel::before {
  background-position: -385px -50px;
}

.sidebar-faq-categories-item a {
  color: #105ea6;
}

.sidebar-categories-mc {
  margin-top: -5px;
  padding: 5px 0 10px 0;

  color: #105ea6;
  text-align: right;

  border-top: solid 1px #609cf0;
  cursor: pointer;
}
.sidebar-categories-mc span:hover,
.sidebar-categories-mc span:focus {
  text-decoration: underline;
}
.subscribe {
  margin: 20px 0;
  padding: 28px 20px 34px;

  text-align: center;

  background-color: #054086;
}
