.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.top-block.theme_faqs {
  padding: 0;

  background-color: #004b8e;
  background-image: url("../img/faqs_bg_1920.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
@media (max-width: 1279px) {
  .top-block.theme_faqs {
    background-position: 55% 0;
  }
}
@media (max-width: 1150px) {
  .top-block.theme_faqs {
    background-position: 60% 0;
  }
}
@media (max-width: 720px) {
  .top-block.theme_faqs {
    background-position: 50% 0;
  }
}
@media (max-width: 540px) {
  .top-block.theme_faqs {
    background-position: 55% 0;
  }
}
.theme_faqs .breadcrumbs__block * {
  color: #ffffff;
}
.theme_faqs .breadcrumbs__block:hover *,
.theme_faqs .breadcrumbs__block:focus * {
  color: #ffffff;
}

.top-block-text--faqs {
  width: 80%;
}
@media (max-width: 1150px) {
  .top-block-text--faqs {
    width: 70%;
  }
}
@media (max-width: 720px) {
  .top-block-text--faqs {
    width: 75%;
  }
}
@media (max-width: 540px) {
  .top-block-text--faqs {
    width: 70%;
  }
}

.theme_faqs h1 {
  font-size: 36px;
  font-family: "Trebuchet MS";
  text-align: left;
  color: #ffe875;
}
@media (max-width: 1279px) {
  .theme_faqs h1 {
    font-size: 30px;
  }
}
@media (max-width: 720px) {
  .theme_faqs h1 {
    font-size: 18px;
  }
}

.theme_faqs  .top-block-text {
  margin-bottom: 20px;

  color: #ffffff;
}

.top-block-faq {
  position: relative;

  margin-left: -20px;
  overflow: hidden;
}

.faq__item-opacity {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 0;

  background-color: #ffffff;
  opacity: 0.8;
}

.faq__item {
  display: flex;
  padding: 50px 20px 20px 0;
}
@media (max-width: 1279px) {
  .faq__item {
    padding: 40px 20px 10px 0;
  }
}
@media (max-width: 720px) {
  .faq__item {
    flex-direction: column;
    padding: 40px 20px 10px 20px;
  }
}

.faq__item--top {
  position: relative;
  z-index: 1;

  margin: auto;
  padding: 35px 20px 55px 0;
}
@media (max-width: 720px) {
  .faq__item--top {
    padding: 35px 20px 55px 20px;
  }
}

.faq__item--last {
  margin-bottom: 50px;
}

.faq__item-category {
  position: relative;

  width: 18%;
  padding: 110px 20px 10px;

  font-size: 16px;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #205fad;
}
@media (max-width: 1279px) {
  .faq__item-category {
    width: 25%;
  }
}
@media (max-width: 720px) {
  .faq__item-category {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px 10px 90px;

    text-align: left;
  }
}

.faq__item-category::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 41px);

  width: 82px;
  height: 82px;

  background-image: url("../img/FAQ_sprites.png");
}
@media (max-width: 720px) {
  .faq__item-category::before {
    top: 0;
    left: 0;

    width: 72px;
    height: 73px;

    transform: translateY(-30%);
  }
}
@media (max-width: 540px) {
  .faq__item-category::before {
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    transform: translateY(-30%);
  }
}


.faq__item-category--bad::before {
  background-position: -3px -107px;
}
@media (max-width: 720px) {
  .faq__item-category--bad::before {
    background-position: -8px -382px;
  }
}
@media (max-width: 540px) {
  .faq__item-category--bad::before {
    background-position: -7px -682px;
  }
}
.faq__item-category--balance::before {
  background-position: -98px -107px;
}
@media (max-width: 720px) {
  .faq__item-category--balance::before {
    background-position: -88px -382px;
  }
}
@media (max-width: 540px) {
  .faq__item-category--balance::before {
    background-position: -102px -682px;
  }
}
.faq__item-category--best::before {
  background-position: -194px -107px;
}
@media (max-width: 720px) {
  .faq__item-category--best::before {
    background-position: -168px -382px;
  }
}
@media (max-width: 540px) {
  .faq__item-category--best::before {
    background-position: -168px -682px;
  }
}
.faq__item-category--business::before {
  background-position: -288px -107px;
}
@media (max-width: 720px) {
  .faq__item-category--business::before {
    background-position: -248px -382px;
  }
}
.faq__item-category--banks::before {
  background-position: -383px -107px;
}
@media (max-width: 720px) {
  .faq__item-category--banks::before {
    background-position: -328px -382px;
  }
}
.faq__item-category--fees::before {
  background-position: -478px -107px;;
}
@media (max-width: 720px) {
  .faq__item-category--fees::before {
    background-position: -408px -382px;
  }
}
.faq__item-category--rewards::before {
  background-position: -3px -197px;
}
@media (max-width: 720px) {
  .faq__item-category--rewards::before {
    background-position: -8px -462px;
  }
}
.faq__item-category--fair::before {
  background-position: -98px -197px;
}
@media (max-width: 720px) {
  .faq__item-category--fair::before {
    background-position: -88px -462px;
  }
}
.faq__item-category--foreign::before {
  background-position: -192px -198px;
}
@media (max-width: 720px) {
  .faq__item-category--foreign::before {
    background-position: -168px -462px;
  }
}
.faq__item-category--instant::before {
  background-position: -288px -197px;
}
@media (max-width: 720px) {
  .faq__item-category--instant::before {
    background-position: -248px -462px;
  }
}
.faq__item-category--low-rate::before {
  background-position: -383px -197px;
}
@media (max-width: 720px) {
  .faq__item-category--low-rate::before {
    background-position: -328px -462px;
  }
}
.faq__item-category--mastercard::before {
  background-position: -478px -197px;
}
@media (max-width: 720px) {
  .faq__item-category--mastercard::before {
    background-position: -408px -462px;
  }
}
.faq__item-category--no-credit::before {
  background-position: -3px -287px;
}
@media (max-width: 720px) {
  .faq__item-category--no-credit::before {
    background-position: -8px -542px;
  }
}
.faq__item-category--prepaid::before {
  background-position: -98px -287px;
}
@media (max-width: 720px) {
  .faq__item-category--prepaid::before {
    background-position: -88px -462px;
  }
}
.faq__item-category--secured::before {
  background-position: -193px -287px;
}
@media (max-width: 720px) {
  .faq__item-category--secured::before {
    background-position: -168px -542px;
  }
}
.faq__item-category--student::before {
  background-position: -288px -287px;
}
@media (max-width: 720px) {
  .faq__item-category--student::before {
    background-position: -248px -542px;
  }
}
.faq__item-category--visa::before {
  background-position: -383px -287px;
}
@media (max-width: 720px) {
  .faq__item-category--visa::before {
    background-position: -328px -462px;
  }
}
.faq__item-category--travel::before {
  background-position: -478px -287px;
}
@media (max-width: 720px) {
  .faq__item-category--travel::before {
    background-position: -408px -542px;
  }
}

.faq__item--top .faq__item-category--bad::before {
  background-position: -575px -107px;
}
.faq__item--top .faq__item-category--balance::before {
  background-position: -670px -107px;
}
.faq__item--top .faq__item-category--best::before {
  background-position: -765px -107px;
}
.faq__item--top .faq__item-category--business::before {
  background-position: -860px -107px;
}
.faq__item--top .faq__item-category--banks::before {
  background-position: -955px -107px;
}
.faq__item--top .faq__item-category--fees::before {
  background-position: -1050px -107px;
}
.faq__item--top .faq__item-category--rewards::before {
  background-position: -575px -197px;
}
.faq__item--top .faq__item-category--fair::before {
  background-position: -670px -197px;
}
.faq__item--top .faq__item-category--foreign::before {
  background-position: -765px -198px;
}
@media (max-width: 720px) {
  .faq__item--top .faq__item-category--foreign::before {
      background-position: -740px -462px
    }
}
.faq__item--top .faq__item-category--instant::before {
  background-position: -860px -197px;
}
.faq__item--top .faq__item-category--low-rate::before {
  background-position: -955px -197px;
}
.faq__item--top .faq__item-category--mastercard::before {
  background-position: -1050px -197px;
}
.faq__item--top .faq__item-category--no-credit::before {
  background-position: -575px -287px;
}
.faq__item--top .faq__item-category--prepaid::before {
  background-position: -670px -287px;
}
.faq__item--top .faq__item-category--secured::before {
  background-position: -765px -287px;
}
.faq__item--top .faq__item-category--student::before {
  background-position: -860px -287px;
}
.faq__item--top .faq__item-category--visa::before {
  background-position: -955px -287px;
}
.faq__item--top .faq__item-category--travel::before {
  background-position: -1050px -287px;
}

.faq__item-content {
  width: 82%;

  font-size: 16px;
  font-family: Arial;
}
@media(max-width: 1279px) {
  .faq__item-content {
    width: 75%;
  }
}

@media(max-width: 720px) {
  .faq__item-content {
    font-size: 14px;
  }
}

.faq__item-date {
  margin-bottom: 5px;

  color: #666666;
}

.faq__item-ask {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  text-align: justify;
}
@media(max-width: 720px) {
  .faq__item-ask {
    font-size: 16px;
  }
}

.faq__item-answer {
  text-align: justify;
  color: #4d4d4d;
}

.faq__item-continue {
  display: block;

  text-align: right;
  color: #237fdc;
}
@media(max-width: 720px) {
  .faq__item-continue {
    font-size: 14px;
  }
}

.faq__item-continue:hover,
.faq__item-continue:focus {
  text-decoration: underline;
}

.faq__links {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}
@media (max-width: 720px) {
  .faq__links {
    flex-direction: column;
    padding: 30px 0 0 15px;
  }
}

.faq__links-text {
  width: 40%;
  padding-right: 20px;
}
@media (max-width: 720px) {
  .faq__links-text {
    width: 100%;
    margin-bottom: 20px;
  }
}

.faq__links-text h2 {
  margin: 0 0 15px 0;

  font-family: "Trebuchet MS";
  font-size: 22px;
  font-weight: normal;
  color: #235fad;
}
@media (max-width: 1279px) {
  .faq__links-text h2 {
    font-size: 18px;
  }
}
@media (max-width: 720px) {
  .faq__links-text h2 {
    font-size: 20px;
  }
}

.faq__links-text p {
  margin: 0;

  font-size: 16px;
  font-family: Arial;
  text-align: justify;
  color: #4d4d4d;
}
@media (max-width: 1279px) {
  .faq__links-text p {
    font-size: 14px;
  }
}

.faq__links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 10px 0;
  padding: 0 10px;

  list-style: none;

  border-left: 2px solid #ffe875;
}
@media (max-width: 720px) {
  .faq__links-list {
    width: 100%;
    margin-left: 5px;
    padding: 0 40px 10px 0;
  }
}

.faq__links-item {
  width: 50%;
  margin: 5px 0 5px;
  padding: 0 10px 0 15px;
}
@media (max-width: 720px) {
  .faq__links-item {
    width: 33%;
  }
}
@media (max-width: 540px) {
  .faq__links-item {
    width: 50%;
  }
}

.faq__links-item a {
  position: relative;
  font-size: 16px;
  font-family: Arial;
  color: #205fad;
}
@media (max-width: 540px) {
  .faq__links-item a {
    font-size: 14px;
  }
}

.faq__links-item a::after,
.faq__item-continue::after {
  content: "\005E";
  display: inline-block;
  font: 20px "Times New Roman";
  transform: rotate(90deg);
  webkit-transform: rotate(90deg);
}
.faq__item-continue::after {
  position: relative;
  top: 2px;
  right: 0;
  color: #237fdc;
}
.faq__links-item a::after {
  position: absolute;
  bottom: -4px;
  right: -10px;
  color: #205fad;
}

.sidebar-search {
  margin: 0 0 15px 0;
  padding: 10px 20px;

  background-color: #e5f1ff;
}
@media (max-width: 1279px) {
  .sidebar-search {
    display: none;
  }
}

.sidebar-search h4 {
  margin: 0 auto;
  padding: 15px 0 20px;

  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
}

.sidebar-search form {
  position: relative;
}

.sidebar-search-input {
  position: relative;

  display: block;
  width: 100%;
  margin: 0 auto 20px;
  padding: 6px 33px 6px 5px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
  outline: none;
}
.sidebar-search-input:-moz-placeholder {
  text-align: center;
  color: #999999;
}
.sidebar-search-input::-moz-placeholder {
  text-align: center;
  color: #999999;
}
.sidebar-search-input:-ms-input-placeholder {
  text-align: center;
  color: #999999;
}
.sidebar-search-input::-webkit-input-placeholder {
  text-align: center;
  color: #999999;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari only override */
  ::i-block-chrome,
  .sidebar-search-input::-webkit-input-placeholder {
    text-indent: 90px; /*подбираете нужное значение*/
  }
}

.sidebar-search form::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 8px;

  width: 23px;
  height: 24px;

  background-color: transparent;
  background-image: url(../img/FAQ_sprites.png);
  background-repeat: no-repeat;
  background-position: -578px -14px;
  border: none;
}

.sidebar-search-button {
  display: block;
  width: 130px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-weight: bold;
  color: #205fad;

  background-color: transparent;
  border: solid 2px #205fad;
  border-radius: 8px;
}

.sidebar-search-button:hover,
.sidebar-search-button:focus {
  background: linear-gradient(to bottom, #e5f1ff 0%, #e5f1ff 50%, #7fa6d8 100%);
  outline: none;
}

.sidebar-faq-categories {
  margin: 0 0 15px 0;
  padding: 10px 20px;

  font-size: 18px;
  font-family: Arial;
  color: #205fad;

  background-color: #e5f1ff;
}
@media (max-width: 1279px) {
  .sidebar-faq-categories {
    font-size: 14px;
  }
}
.sidebar-faq-categories h4 {
  margin: 0 auto;
  padding: 15px 0;

  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
}
.sidebar-faq-categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 20px 0 0;

  list-style: none;
}
.sidebar-faq-categories-item {
  position: relative;

  width: 100%;
  margin-bottom: 30px;
  padding-left: 65px;
}
@media (max-width: 1279px) {
  .sidebar-faq-categories-item {
    margin-bottom: 35px;
  }
}
@media (max-width: 720px) {
  .sidebar-faq-categories-item {
    width: 25%;
    padding-top: 50px;
    padding-left: 0;

    text-align: center;
  }
}
@media (max-width: 540px) {
  .sidebar-faq-categories-item {
    width: 50%;
    padding-top: 0;
    padding-left: 60px;

    text-align: left;
  }
}

.sidebar-faq-categories-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 24px);
  left: 0;

  width: 47px;
  height: 47px;

  background-image: url("../img/FAQ_sprites.png");
}
@media (max-width: 720px) {
  .sidebar-faq-categories-item::before {
    top: -10px;
    left: calc(50% - 24px);
  }
}
@media (max-width: 540px) {
  .sidebar-faq-categories-item::before {
    top: -15px;
    left: 0;
  }
}
.sidebar-faq-categories-item--bad::before {
  background-position: 0 0;
}
.sidebar-faq-categories-item--balance::before {
  background-position: -55px 0;
}
.sidebar-faq-categories-item--best::before {
  background-position: -110px 0;
}
.sidebar-faq-categories-item--business::before {
  background-position: -165px 0;
}
.sidebar-faq-categories-item--banks::before {
  background-position: -220px 0;
}
.sidebar-faq-categories-item--fees::before {
  background-position: -275px 0;
}
.sidebar-faq-categories-item--reward::before {
  background-position: -330px 0;
}
.sidebar-faq-categories-item--fair::before {
  background-position: -385px 0;
}
.sidebar-faq-categories-item--foreign::before {
  background-position: -440px 0;
}
.sidebar-faq-categories-item--instant::before {
  background-position: -495px 0;
}
.sidebar-faq-categories-item--low-rate::before {
  background-position: 0 -50px;
}
.sidebar-faq-categories-item--mastercard::before {
  background-position: -55px -50px;
}
.sidebar-faq-categories-item--no-credit::before {
  background-position: -110px -50px;
}
.sidebar-faq-categories-item--prepaid::before {
  background-position: -165px -50px;
}
.sidebar-faq-categories-item--secured::before {
  background-position: -220px -50px;
}
.sidebar-faq-categories-item--student::before {
  background-position: -275px -50px;
}
.sidebar-faq-categories-item--visa::before {
  background-position: -330px -50px;
}
.sidebar-faq-categories-item--travel::before {
  background-position: -385px -50px;
}

.sidebar-faq-categories-item a {
  color: #105ea6;
}

.sidebar-categories-mc {
  margin-top: -5px;
  padding: 5px 0 10px 0;

  color: #105ea6;
  text-align: right;

  border-top: solid 1px #609cf0;
  cursor: pointer;
}
.sidebar-categories-mc span:hover,
.sidebar-categories-mc span:focus {
  text-decoration: underline;
}
.js-visually-hidden {
  display: none;
}
.subscribe {
  margin: 20px 0;
  padding: 28px 20px 34px;

  text-align: center;

  background-color: #054086;
}
