.faq-index-form {
  margin-bottom: 40px;
  padding: 50px 0 30px;
  color: #ffffff;
  background-color: #55abff;
  background-image: url("../../img/faq-index-form__bg.jpg");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 900px) {
    .faq-index-form {
      padding: 30px 0 30px; } }
  @media (max-width: 540px) {
    .faq-index-form {
      padding: 25px 0 30px; } }
  .faq-index-form h2 {
    margin: 0 0 40px 0;
    font-weight: normal;
    font-size: 28px;
    font-family: "Trebuchet MS";
    text-align: center; }
    @media (max-width: 1279px) {
      .faq-index-form h2 {
        font-size: 26px; } }
    @media (max-width: 900px) {
      .faq-index-form h2 {
        font-size: 24px;
        margin: 0 0 30px 0; } }
    @media (max-width: 720px) {
      .faq-index-form h2 {
        font-size: 18px;
        margin: 0 0 20px 0; } }
  .faq-index-form__inputs {
    display: flex;
    flex-wrap: wrap; }
  .faq-index-form__column {
    width: 50%; }
    @media (max-width: 540px) {
      .faq-index-form__column {
        width: 100%; } }
  .faq-index-form__item {
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center; }
    @media (max-width: 540px) {
      .faq-index-form__item {
        margin: 0 0 15px 0; } }
  .faq-index-form__name, .faq-index-form__email {
    height: 50px;
    width: 90%;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
    font-family: "Trebuchet MS";
    color: #4d4d4d;
    border: none;
    resize: none;
    outline: none; }
    @media (max-width: 900px) {
      .faq-index-form__name, .faq-index-form__email {
        font-size: 16px; } }
    @media (max-width: 720px) {
      .faq-index-form__name, .faq-index-form__email {
        font-size: 14px; } }
    @media (max-width: 540px) {
      .faq-index-form__name, .faq-index-form__email {
        height: 40px; } }
  .faq-index-form__question {
    width: 90%;
    padding: 10px;
    height: 120px;
    font-size: 18px;
    line-height: 20px;
    font-family: "Trebuchet MS";
    color: #4d4d4d;
    border: none;
    resize: none;
    outline: none; }
    @media (max-width: 900px) {
      .faq-index-form__question {
        font-size: 16px; } }
    @media (max-width: 540px) {
      .faq-index-form__question {
        height: 90px; } }
  .faq-index-form__name:focus, .faq-index-form__email:focus, .faq-index-form__question:focus {
    outline: 1px solid #237FDC; }
  .faq-index-form__name-label, .faq-index-form__email-label, .faq-index-form__question-label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 22px;
    font-family: "Trebuchet MS", Arial;
    font-size: 18px;
    color: #999999;
    transform: translatex(-50%) translatey(-50%);
    cursor: pointer; }
    @media (max-width: 900px) {
      .faq-index-form__name-label, .faq-index-form__email-label, .faq-index-form__question-label {
        font-size: 16px; } }
    @media (max-width: 720px) {
      .faq-index-form__name-label, .faq-index-form__email-label, .faq-index-form__question-label {
        font-size: 14px; } }
  .faq-index-form__name:focus + label, .faq-index-form__name:not(:placeholder-shown) + label, .faq-index-form__email:focus + label, .faq-index-form__email:valid + label, .faq-index-form__email:invalid:not(:placeholder-shown) + label, .faq-index-form__question:focus + label, .faq-index-form__question:valid + label {
    display: none; }
  .faq-index-form__selects {
    padding: 20px 0;
    background-color: #237fdc;
    display: none; }
    @media (max-width: 721px) {
      .faq-index-form__selects {
        padding: 15px 0; } }
    .faq-index-form__selects-caption {
      margin-bottom: 20px;
      font-size: 20px;
      text-align: center;
      font-family: "Trebuchet MS";
      font-style: italic; }
      @media (max-width: 900px) {
        .faq-index-form__selects-caption {
          font-size: 18px; } }
      @media (max-width: 540px) {
        .faq-index-form__selects-caption {
          font-size: 16px; } }
    .faq-index-form__selects-item {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 15px 0;
      margin-left: 10px; }
      .faq-index-form__selects-item-column {
        width: 50%; }
        @media (max-width: 540px) {
          .faq-index-form__selects-item-column {
            width: 100%; } }
      .faq-index-form__selects-item-label {
        width: 90%;
        padding: 0 20px 0 0;
        margin: 0 auto;
        font-size: 18px;
        line-height: 22px;
        font-family: "Trebuchet MS";
        vertical-align: middle;
        text-align: left; }
        @media (max-width: 900px) {
          .faq-index-form__selects-item-label {
            font-size: 16px; } }
        @media (max-width: 720px) {
          .faq-index-form__selects-item-label {
            font-size: 14px; } }
        @media (max-width: 540px) {
          .faq-index-form__selects-item-label {
            margin: 0 auto 5px; } }
      .faq-index-form__selects-item-select {
        width: 90%;
        color: #999;
        margin: 0 auto; }
  .faq-index-form__addblock {
    padding: 10px 2.5%;
    font-size: 20px;
    line-height: 22px; }
    @media (max-width: 540px) {
      .faq-index-form__addblock {
        padding: 0 5%; } }
    .faq-index-form__addblock-legend {
      padding: 0;
      margin-bottom: 15px;
      font-family: "Trebuchet MS";
      font-size: 18px;
      line-height: 22px;
      color: #fff; }
      @media (max-width: 900px) {
        .faq-index-form__addblock-legend {
          font-size: 16px;
          margin-bottom: 10px; } }
      @media (max-width: 540px) {
        .faq-index-form__addblock-legend {
          font-size: 14px;
          margin-bottom: 5px; } }
    .faq-index-form__addblock-agree {
      display: table;
      cursor: pointer;
      padding: 0;
      margin-bottom: 15px;
      font-family: "Trebuchet MS";
      font-size: 18px;
      line-height: 22px;
      color: #fff; }
      @media (max-width: 900px) {
        .faq-index-form__addblock-agree {
          font-size: 16px;
          line-height: 18px; } }
      @media (max-width: 720px) {
        .faq-index-form__addblock-agree {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 10px; } }
      .faq-index-form__addblock-agree-left {
        display: table-cell; }
      .faq-index-form__addblock-agree-cb {
        width: 20px;
        height: 20px;
        border: solid 1px #cccccc;
        background: #fff;
        display: inline-block;
        margin: 0 8px 0 0;
        position: relative;
        top: 2px; }
        .faq-index-form__addblock-agree-cb:focus {
          outline: 1px solid #237FDC; }
        @media (max-width: 700px) {
          .faq-index-form__addblock-agree-cb {
            width: 18px;
            height: 18px;
            top: 3px; } }
        @media (max-width: 530px) {
          .faq-index-form__addblock-agree-cb {
            top: 4px; } }
        .faq-index-form__addblock-agree-cb-ckd {
          width: 10px;
          height: 10px;
          margin: 4px;
          background-color: #205FAD;
          display: none; }
          @media (max-width: 700px) {
            .faq-index-form__addblock-agree-cb-ckd {
              width: 8px;
              height: 8px; } }
      .faq-index-form__addblock-agree-right {
        display: table-cell; }
    .faq-index-form__addblock-text {
      padding: 0;
      text-align: justify;
      font-family: Arial;
      font-size: 18px;
      line-height: 20px;
      color: #fff; }
      @media (max-width: 900px) {
        .faq-index-form__addblock-text {
          font-size: 16px;
          line-height: 18px; } }
      @media (max-width: 540px) {
        .faq-index-form__addblock-text {
          font-size: 14px;
          line-height: 16px; } }
  .faq-index-form__button {
    margin: 0;
    text-align: center; }
    .faq-index-form__button a {
      display: inline-block;
      width: 220px;
      height: 45px;
      margin: 20px 0 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 45px;
      font-family: "Trebuchet MS";
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.6) 100%);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.6) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.6) 100%);
      border: solid 1px #ffffff;
      border-radius: 5px;
      cursor: pointer; }
      @media (max-width: 720px) {
        .faq-index-form__button a {
          font-size: 16px; } }
      .faq-index-form__button a:hover, .faq-index-form__button a:focus {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #3591ed 100%);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #3591ed 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #3591ed 100%);
        outline: none; }

.select2-selection--single.select2-faq-index-form {
  font-family: "Trebuchet MS";
  font-size: 18px;
  line-height: 20px;
  color: #4d4d4d;
  height: auto !important;
  outline: none;
  border: solid 1px #ffffff !important;
  border-radius: 0 !important;
  border-bottom: none !important;
  position: relative;
  width: 100%; }
  @media (max-width: 900px) {
    .select2-selection--single.select2-faq-index-form {
      font-size: 16px; } }
  @media (max-width: 720px) {
    .select2-selection--single.select2-faq-index-form {
      font-size: 14px; } }
  .select2-selection--single.select2-faq-index-form .select2-selection__rendered {
    padding-left: 40px !important;
    padding-right: 50px !important;
    line-height: 46px !important;
    text-align: center;
    display: block !important; }
    @media (max-width: 720px) {
      .select2-selection--single.select2-faq-index-form .select2-selection__rendered {
        padding-left: 30px !important; } }
    @media (max-width: 540px) {
      .select2-selection--single.select2-faq-index-form .select2-selection__rendered {
        padding-left: 15px !important; } }
    .select2-selection--single.select2-faq-index-form .select2-selection__rendered .select2-selection__placeholder {
      text-align: center;
      display: block; }
      @media (max-width: 900px) {
        .select2-selection--single.select2-faq-index-form .select2-selection__rendered .select2-selection__placeholder {
          font-size: 16px; } }
      @media (max-width: 720px) {
        .select2-selection--single.select2-faq-index-form .select2-selection__rendered .select2-selection__placeholder {
          font-size: 14px; } }
  .select2-selection--single.select2-faq-index-form .select2-selection__arrow {
    width: 50px !important; }
    .select2-selection--single.select2-faq-index-form .select2-selection__arrow b {
      border-color: #2483e2 transparent transparent !important;
      border-width: 7px 6px 0 !important;
      top: 80% !important; }

.select2-container--above.select2-container--open .select2-selection--single.select2-faq-index-form {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-top: none !important; }

.select2-container--below.select2-container--open .select2-selection--single.select2-faq-index-form {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-bottom: none !important; }

.select2-dropdown.select2-faq-index-form {
  border: none;
  border-radius: 0; }

.select2-results {
  font-family: "Trebuchet MS";
  font-size: 18px;
  line-height: 20px;
  color: #4d4d4d;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: none !important; }
  @media (max-width: 900px) {
    .select2-results {
      font-size: 16px; } }
  @media (max-width: 540px) {
    .select2-results {
      font-size: 14px; } }
  .select2-results__options {
    max-height: 300px !important; }
  .select2-results__option {
    padding: 12px 40px !important; }
    @media (max-width: 720px) {
      .select2-results__option {
        padding: 10px 30px !important; } }
    @media (max-width: 540px) {
      .select2-results__option {
        padding: 6px 16px !important; } }
    .select2-results__option--highlighted[aria-selected] {
      background-color: #55abff !important; }

.select2-dropdown--above.select2-faq-index-form .select2-results {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-bottom: none !important; }

.select2-dropdown--below.select2-faq-index-form .select2-results {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-top: none !important; }

.select2-container {
  display: block; }

@media (max-width: 900px) and (min-width: 721px) {
  .second-row-title {
    display: block;
    margin: 0 auto; } }
@media (max-width: 430px) {
  .second-row-title {
    display: block;
    margin: 0 auto; } }

@media (max-width: 720px) {
  .disappear-title {
    font-size: 0; } }

.red-asterisk {
  color: #ff3c3c; }

.unfilled-form {
  position: relative; }
  .unfilled-form::after {
    position: absolute;
    width: 100%;
    content: 'Please fill in all the required fields (*)';
    font-family: "Trebuchet MS", Arial;
    font-size: 18px;
    color: #FF3B3B;
    top: 10px;
    left: 50%;
    text-align: center;
    transform: translate(-50%); }
    @media (max-width: 900px) {
      .unfilled-form::after {
        font-size: 16px; } }
    @media (max-width: 540px) {
      .unfilled-form::after {
        font-size: 14px; } }

.invalid-box {
  outline: 1px solid #FF3B3B; }

.invalid-text {
  color: #FF3B3B; }

/*# sourceMappingURL=faq-index-form.css.map */
