.container_slide {
  transition: none !important; }

.ask-a-question-popup {
  background-color: #ffffff; }
  .ask-a-question-popup-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    opacity: 0.3;
    background: #333333 url("../fancybox_loading@2x.gif") no-repeat center center;
    display: none; }
  .ask-a-question-popup-error {
    padding: 30px 60px 0 60px;
    font-family: "Trebuchet MS";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #ff3b3b; }
    @media (max-width: 900px) {
      .ask-a-question-popup-error {
        padding: 30px 40px 0 40px; } }
    @media (max-width: 700px) {
      .ask-a-question-popup-error {
        font-size: 16px;
        line-height: 18px; } }
    @media (max-width: 530px) {
      .ask-a-question-popup-error {
        padding: 20px 40px 0 40px;
        font-size: 14px;
        line-height: 16px; } }
  .ask-a-question-popup-header {
    padding: 10px 60px 25px 60px; }
    @media (max-width: 900px) {
      .ask-a-question-popup-header {
        padding: 10px 30px 20px 30px; } }
    @media (max-width: 530px) {
      .ask-a-question-popup-header {
        padding: 10px 15px 10px 15px; } }
    .ask-a-question-popup-header h2 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: "Trebuchet MS";
      font-weight: normal;
      font-size: 38px;
      line-height: 44px;
      color: #4d4d4d; }
      @media (max-width: 900px) {
        .ask-a-question-popup-header h2 {
          font-size: 28px;
          line-height: 34px; } }
      @media (max-width: 530px) {
        .ask-a-question-popup-header h2 {
          font-size: 22px;
          line-height: 26px; } }
  .ask-a-question-popup-text {
    margin: 0;
    padding: 0 60px;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #114F9A; }
    @media (max-width: 900px) {
      .ask-a-question-popup-text {
        font-size: 18px;
        line-height: 22px;
        padding: 0 30px; } }
    @media (max-width: 700px) {
      .ask-a-question-popup-text {
        font-size: 16px;
        line-height: 20px; } }
    @media (max-width: 530px) {
      .ask-a-question-popup-text {
        font-size: 14px;
        line-height: 16px;
        padding: 0 15px; } }
  .ask-a-question-popup-inputs {
    margin: 0;
    padding: 40px 60px 30px 60px; }
    @media (max-width: 900px) {
      .ask-a-question-popup-inputs {
        padding: 30px 30px 20px 30px; } }
    @media (max-width: 530px) {
      .ask-a-question-popup-inputs {
        padding: 15px 15px 10px 15px; } }
    .ask-a-question-popup-inputs-item {
      display: table;
      margin: 0 0 15px 0; }
      @media (max-width: 530px) {
        .ask-a-question-popup-inputs-item {
          display: block;
          margin: 0 0 25px 0; } }
      .ask-a-question-popup-inputs-item-label {
        display: table-cell;
        text-align: right;
        vertical-align: middle;
        padding: 0 20px 0 0;
        width: 160px;
        font-family: Arial;
        font-size: 20px;
        line-height: 22px;
        color: #4d4d4d; }
        @media (max-width: 700px) {
          .ask-a-question-popup-inputs-item-label {
            font-size: 18px;
            line-height: 20px; } }
        @media (max-width: 530px) {
          .ask-a-question-popup-inputs-item-label {
            display: block;
            text-align: center;
            width: 260px;
            padding: 0 0 10px 0;
            font-size: 16px;
            line-height: 18px; } }
      .ask-a-question-popup-inputs-item-input {
        display: table-cell;
        vertical-align: middle;
        padding: 0; }
        @media (max-width: 530px) {
          .ask-a-question-popup-inputs-item-input {
            display: block;
            width: 260px; } }
        .ask-a-question-popup-inputs-item-input input, .ask-a-question-popup-inputs-item-input textarea {
          font-family: "Trebuchet MS";
          font-size: 18px;
          color: #4d4d4d;
          width: 580px;
          padding: 6px 12px;
          border: solid 1px #cccccc;
          outline: none; }
          @media (max-width: 900px) {
            .ask-a-question-popup-inputs-item-input input, .ask-a-question-popup-inputs-item-input textarea {
              width: 440px; } }
          @media (max-width: 700px) {
            .ask-a-question-popup-inputs-item-input input, .ask-a-question-popup-inputs-item-input textarea {
              width: 270px; } }
          @media (max-width: 530px) {
            .ask-a-question-popup-inputs-item-input input, .ask-a-question-popup-inputs-item-input textarea {
              font-size: 16px;
              width: 260px; } }
  .ask-a-question-popup-selects {
    margin: 0;
    padding: 40px 60px 30px 60px;
    background-color: #D6EBFF; }
    @media (max-width: 900px) {
      .ask-a-question-popup-selects {
        padding: 30px 30px 20px 30px; } }
    @media (max-width: 530px) {
      .ask-a-question-popup-selects {
        padding: 15px 15px 10px 15px; } }
    .ask-a-question-popup-selects-item {
      display: table;
      margin: 0 0 15px 0; }
      @media (max-width: 700px) {
        .ask-a-question-popup-selects-item {
          display: block;
          margin: 0 0 25px 0; } }
      .ask-a-question-popup-selects-item-label {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        padding: 0 20px 0 0;
        width: 350px;
        font-family: Arial;
        font-size: 20px;
        line-height: 22px;
        color: #237FDC; }
        @media (max-width: 900px) {
          .ask-a-question-popup-selects-item-label {
            font-size: 18px;
            line-height: 20px;
            width: 300px; } }
        @media (max-width: 700px) {
          .ask-a-question-popup-selects-item-label {
            display: block;
            text-align: center;
            width: 430px;
            padding: 0 0 10px 0; } }
        @media (max-width: 530px) {
          .ask-a-question-popup-selects-item-label {
            font-size: 16px;
            line-height: 18px;
            width: 260px; } }
      .ask-a-question-popup-selects-item-select {
        display: table-cell;
        vertical-align: middle;
        padding: 0; }
        @media (max-width: 700px) {
          .ask-a-question-popup-selects-item-select {
            display: block;
            width: 430px; } }
        @media (max-width: 530px) {
          .ask-a-question-popup-selects-item-select {
            width: 260px; } }
  .ask-a-question-popup-addblock {
    margin: 0;
    padding: 0 60px; }
    @media (max-width: 900px) {
      .ask-a-question-popup-addblock {
        padding: 0 30px; } }
    @media (max-width: 530px) {
      .ask-a-question-popup-addblock {
        padding: 0 15px; } }
    .ask-a-question-popup-addblock-legend {
      padding: 25px 0 0 0;
      font-family: Arial;
      font-size: 20px;
      line-height: 22px;
      color: #4d4d4d; }
      @media (max-width: 900px) {
        .ask-a-question-popup-addblock-legend {
          font-size: 18px;
          line-height: 20px; } }
      @media (max-width: 530px) {
        .ask-a-question-popup-addblock-legend {
          font-size: 16px;
          line-height: 18px; } }
    .ask-a-question-popup-addblock-agree {
      display: table;
      cursor: pointer;
      padding: 25px 0 0 0;
      font-family: Arial;
      font-size: 20px;
      line-height: 22px;
      color: #4d4d4d; }
      @media (max-width: 900px) {
        .ask-a-question-popup-addblock-agree {
          font-size: 18px;
          line-height: 20px;
          padding: 20px 0 0 0; } }
      @media (max-width: 530px) {
        .ask-a-question-popup-addblock-agree {
          font-size: 16px;
          line-height: 18px;
          padding: 15px 0 0 0; } }
      .ask-a-question-popup-addblock-agree-left {
        display: table-cell; }
      .ask-a-question-popup-addblock-agree-right {
        display: table-cell; }
      .ask-a-question-popup-addblock-agree-cb {
        width: 20px;
        height: 20px;
        border: solid 1px #cccccc;
        display: inline-block;
        margin: 0 8px 0 0;
        position: relative;
        top: 2px; }
        @media (max-width: 700px) {
          .ask-a-question-popup-addblock-agree-cb {
            width: 18px;
            height: 18px;
            top: 3px; } }
        @media (max-width: 530px) {
          .ask-a-question-popup-addblock-agree-cb {
            top: 4px; } }
        .ask-a-question-popup-addblock-agree-cb-ckd {
          width: 10px;
          height: 10px;
          margin: 4px;
          background-color: #205FAD;
          display: none; }
          @media (max-width: 700px) {
            .ask-a-question-popup-addblock-agree-cb-ckd {
              width: 8px;
              height: 8px; } }
    .ask-a-question-popup-addblock-text {
      padding: 25px 0 0 0;
      text-align: justify;
      font-family: Arial;
      font-size: 18px;
      line-height: 20px;
      color: #999999; }
      @media (max-width: 900px) {
        .ask-a-question-popup-addblock-text {
          font-size: 16px;
          line-height: 18px;
          padding: 20px 0 0 0; } }
      @media (max-width: 530px) {
        .ask-a-question-popup-addblock-text {
          font-size: 14px;
          line-height: 16px;
          padding: 15px 0 0 0; } }
  .ask-a-question-popup-bottom {
    display: table;
    width: 100%;
    padding: 30px 60px 40px 60px; }
    @media (max-width: 900px) {
      .ask-a-question-popup-bottom {
        padding: 30px 30px; } }
    @media (max-width: 700px) {
      .ask-a-question-popup-bottom {
        display: block; } }
    @media (max-width: 530px) {
      .ask-a-question-popup-bottom {
        padding: 15px 15px; } }
    .ask-a-question-popup-bottom-captcha {
      display: table-cell;
      width: 100%;
      text-align: left;
      vertical-align: middle; }
      @media (max-width: 700px) {
        .ask-a-question-popup-bottom-captcha {
          display: block;
          text-align: center;
          padding: 0 0 20px 0; } }
      @media (max-width: 700px) {
        .ask-a-question-popup-bottom-captcha .g-recaptcha div {
          margin: auto; } }
      .ask-a-question-popup-bottom-captcha-error {
        margin: 0;
        padding: 0;
        text-align: left;
        display: inline-block;
        font-family: Arial;
        font-size: 18px;
        line-height: 20px;
        color: #ff3b3b; }
        @media (max-width: 900px) {
          .ask-a-question-popup-bottom-captcha-error {
            font-size: 16px;
            line-height: 18px; } }
        @media (max-width: 530px) {
          .ask-a-question-popup-bottom-captcha-error {
            font-size: 14px;
            line-height: 16px; } }
    .ask-a-question-popup-bottom-button {
      display: table-cell;
      width: 100%;
      padding: 0;
      text-align: center;
      vertical-align: middle; }
      @media (max-width: 700px) {
        .ask-a-question-popup-bottom-button {
          display: block;
          text-align: center; } }
      .ask-a-question-popup-bottom-button a {
        background: #ffdc69;
        background: -moz-linear-gradient(top, #ffdc69 0%, #ffdc69 50%, #fffbed 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffdc69), color-stop(50%, #ffdc69), color-stop(100%, #fffbed));
        background: -webkit-linear-gradient(top, #ffdc69 0%, #ffdc69 50%, #fffbed 100%);
        background: -o-linear-gradient(top, #ffdc69 0%, #ffdc69 50%, #fffbed 100%);
        background: -ms-linear-gradient(top, #ffdc69 0%, #ffdc69 50%, #fffbed 100%);
        background: linear-gradient(to bottom, #ffdc69 0%, #ffdc69 50%, #fffbed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc69', endColorstr='#fffbed', GradientType=0);
        width: 245px;
        border-radius: 5px;
        border: solid 1px #ffcc00;
        color: #4d4d4d;
        text-align: center;
        height: 56px;
        line-height: 56px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        font-family: "Trebuchet MS";
        cursor: pointer; }
      .ask-a-question-popup-bottom-button a:hover {
        background: #ffdc69; }
  .ask-a-question-popup-redtext {
    color: #ff3b3b; }
  .ask-a-question-popup-redinput {
    border: solid 1px #ff3b3b !important;
    color: #ff3b3b !important; }
  .ask-a-question-popup input::-webkit-input-placeholder, .ask-a-question-popup textarea::-webkit-input-placeholder {
    color: #ff3b3b;
    text-align: center; }
  .ask-a-question-popup input::-moz-placeholder, .ask-a-question-popup textarea::-moz-placeholder {
    color: #ff3b3b;
    text-align: center; }
  .ask-a-question-popup input:-moz-placeholder, .ask-a-question-popup textarea:-moz-placeholder {
    color: #ff3b3b;
    text-align: center; }
  .ask-a-question-popup input:-ms-input-placeholder, .ask-a-question-popup textarea:-ms-input-placeholder {
    color: #ff3b3b;
    text-align: center; }
  .ask-a-question-popup textarea::-webkit-input-placeholder {
    line-height: 125px; }
    @media (max-width: 530px) {
      .ask-a-question-popup textarea::-webkit-input-placeholder {
        line-height: 110px; } }
  .ask-a-question-popup textarea::-moz-placeholder {
    line-height: 125px; }
    @media (max-width: 530px) {
      .ask-a-question-popup textarea::-moz-placeholder {
        line-height: 110px; } }
  .ask-a-question-popup textarea:-moz-placeholder {
    line-height: 125px; }
    @media (max-width: 530px) {
      .ask-a-question-popup textarea:-moz-placeholder {
        line-height: 110px; } }
  .ask-a-question-popup textarea:-ms-input-placeholder {
    line-height: 125px; }
    @media (max-width: 530px) {
      .ask-a-question-popup textarea:-ms-input-placeholder {
        line-height: 110px; } }
  .ask-a-question-popup input:focus::-webkit-input-placeholder, .ask-a-question-popup textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  .ask-a-question-popup input:focus::-moz-placeholder, .ask-a-question-popup textarea:focus::-moz-placeholder {
    color: transparent; }
  .ask-a-question-popup input:focus:-moz-placeholder, .ask-a-question-popup textarea:focus:-moz-placeholder {
    color: transparent; }
  .ask-a-question-popup input:focus:-ms-input-placeholder, .ask-a-question-popup textarea:focus:-ms-input-placeholder {
    color: transparent; }
  .ask-a-question-popup-thank-message {
    text-align: center;
    margin: 0;
    padding: 40px;
    background-color: #ffffff;
    font-family: "Trebuchet MS";
    font-size: 22px;
    line-height: 24px;
    color: #666666; }

.grecaptcha-badge {
  display: none; }

.select2-selection--single.select2-ask-popup {
  font-family: "Trebuchet MS";
  font-size: 18px;
  line-height: 20px;
  color: #4d4d4d;
  height: auto !important;
  outline: none;
  border: solid 1px #ffffff !important;
  border-radius: 0 !important;
  border-bottom: none !important;
  position: relative;
  width: 390px; }
  @media (max-width: 900px) {
    .select2-selection--single.select2-ask-popup {
      width: 300px; } }
  @media (max-width: 700px) {
    .select2-selection--single.select2-ask-popup {
      width: 430px; } }
  @media (max-width: 530px) {
    .select2-selection--single.select2-ask-popup {
      width: 260px; } }
  .select2-selection--single.select2-ask-popup .select2-selection__rendered {
    padding-left: 40px !important;
    padding-right: 50px !important;
    line-height: 46px !important;
    text-align: center;
    display: block !important; }
    @media (max-width: 700px) {
      .select2-selection--single.select2-ask-popup .select2-selection__rendered {
        padding-left: 30px !important; } }
    @media (max-width: 530px) {
      .select2-selection--single.select2-ask-popup .select2-selection__rendered {
        padding-left: 15px !important; } }
    .select2-selection--single.select2-ask-popup .select2-selection__rendered .select2-selection__placeholder {
      text-align: center;
      display: block; }
  .select2-selection--single.select2-ask-popup .select2-selection__arrow {
    width: 50px !important; }
    .select2-selection--single.select2-ask-popup .select2-selection__arrow b {
      border-color: #2483e2 transparent transparent !important;
      border-width: 7px 6px 0 !important;
      top: 80% !important; }

.select2-container--above.select2-container--open .select2-selection--single.select2-ask-popup {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-top: none !important; }

.select2-container--below.select2-container--open .select2-selection--single.select2-ask-popup {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-bottom: none !important; }

.select2-dropdown.select2-ask-popup {
  border: none;
  border-radius: 0;
  width: 390px !important; }
  @media (max-width: 900px) {
    .select2-dropdown.select2-ask-popup {
      width: 300px !important; } }
  @media (max-width: 700px) {
    .select2-dropdown.select2-ask-popup {
      width: 430px !important; } }
  @media (max-width: 530px) {
    .select2-dropdown.select2-ask-popup {
      width: 260px !important; } }
  .select2-dropdown.select2-ask-popup .select2-results {
    font-family: "Trebuchet MS";
    font-size: 18px;
    line-height: 20px;
    color: #4d4d4d;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: none !important; }
    .select2-dropdown.select2-ask-popup .select2-results__options {
      max-height: 300px !important; }
    .select2-dropdown.select2-ask-popup .select2-results__option {
      padding: 12px 40px !important; }
      @media (max-width: 700px) {
        .select2-dropdown.select2-ask-popup .select2-results__option {
          padding: 10px 30px !important; } }
      @media (max-width: 530px) {
        .select2-dropdown.select2-ask-popup .select2-results__option {
          padding: 6px 16px !important; } }
      .select2-dropdown.select2-ask-popup .select2-results__option--highlighted[aria-selected] {
        background-color: #55abff !important; }

.select2-dropdown--above.select2-ask-popup .select2-results {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-bottom: none !important; }

.select2-dropdown--below.select2-ask-popup .select2-results {
  border: solid 1px #23a8ff !important;
  border-radius: 0 !important;
  border-top: none !important; }

/*# sourceMappingURL=form_styles.css.map */
